# FHIR Server Configuration
FHIR_URL=http://localhost:8080
FHIR_URL_COHORT=http://localhost:8080
# FHIR_ACCESS_TOKEN=

# Django API Configuration (for callbacks)
DJANGO_CALLBACK_URL=http://localhost:8085
SJS_TOKEN={GENERATED_TOKEN_USE_IN_DJANGO}

# PostgreSQL Configuration
PG_HOST=localhost
PG_PORT=5432
PG_DB=omop
PG_SCHEMA=public
PG_USER=postgres
DB_OMOP_PASSWORD=postgres

# Solr Configuration
SOLR_ZK=localhost:9983
SOLR_USER=
SOLR_PASSWORD=

# Spark Configuration
SPARK_MASTER="local[*]"
SPARK_DRIVER_HOST=localhost
SPARK_DRIVER_PORT=4000
# SPARK_EXECUTOR_MEMORY=2g

# Application Configuration
SJS_APP_PORT=8091
JOBS_THREADS=20
JOBS_AUTO_RETRY=0
USE_SOURCE_POPULATION=true
USE_SOURCE_POPULATION_ON_PATIENT=true
USE_ACTIVE_FILTER=true
COHORT_CREATION_LIMIT=500
DEFAULT_RESOLVER=solr
DEFAULT_COHORT_CREATION_SERVICE=pg
